[submodule "vendor/googletest"]
	path = vendor/googletest
	url = https://github.com/google/googletest.git
[submodule "vendor/GUnit"]
	path = vendor/GUnit
	url = https://github.com/cpp-testing/GUnit.git
